.header{
  grid-area: h;
  background-color: #4e3854;
 }
 .img{
   width: 25px;
   height: 25px;
   position: relative;
   top: 25%;
   left: 1.5%;
  }
 .loginBlock {
   float: right;
 }
 .loginBlock a {
   color: black;
   text-decoration: none;
 }