.nav{
  grid-area: n;
  background-color: maroon;
  padding: 20px;
 }
 .item a{
   color: white;
   text-decoration: none;
 }
.item a.active{
   color: black;
 }
 .heading{
   margin: 10px 90px;
   padding: 0;
 }