.item{
 background-color: #4e3854;
}
.dialogs{
 display: grid;
 grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.dialogsItems .active{
    color: gold;
}
.messages{
    padding: 10px;
}
.sendMessage{
    padding-top: 50px;
}
.textarea{
    overflow: auto;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: black;
}
